@import './workout.scss';

@mixin inbx($bgclr) {
    padding: 5px;
    border-radius: 5px;
    background-color:$bgclr;
    max-height: 50px;
    min-width: 60px;
    min-height: 50px;
    max-width: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.outer{
    width: 100%;
    height:inherit;
    display: flex;
    flex-direction: row;

    
    .main{
        margin-left: 100px;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        
        .firstbox{
            display: flex;
            width: 100%;
            background-color: #abd4c1;
            padding: 15px 50px 17px 50px;
            min-height: fit-content;
            flex-direction: column;
            .title{
                display: flex;
                flex-direction: row;
                width: 100%;
                height: fit-content;
                align-items: center;
                gap: 20px;
                .tools{
                    display: flex;
                    flex-direction: row;
                    gap: 15px;
                    align-items: center;
                    .frst{
                        @include inbx(#f4f4f4);

                    }
                    .scnd{
                        @include inbx(#3B4A50);
                    }
                    .plus{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        border-left: 1px solid #0CB459;
                        padding-left: 40px;
                        .thrd{
                            @include inbx(#0CB459);
                        }
                    }
                }
                
            }
        }
    }
    
}
.smalltext{
    font-weight: 700;
    color: #a8737b;
    white-space: nowrap;
}