@mixin cont($dir,$bord) {
    display: flex;
    flex-direction: $dir;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-top: $bord ;
}
.workout{
    display: flex;
    padding: 5px 20px 0px 20px;
    width: 100%;
    height: fit-content;
    gap: 20px;
    flex-flow: row wrap;
    justify-content: space-between;
    .schedule{
        display: flex;
        flex-direction: column;
        padding: 10px 40px;
        border-radius: 10px;
        width: 400px;
        height: 560px;
        background-color: #f4f4f4;
        gap: 30px;
       
        .next{
            display: flex;
            flex-direction: column;
            border-radius: 10px;
            border: 4px solid #0cb459;
            width: 100%;
            padding: 25px 20px;
        }
        .lower{
            display: flex;
            flex-direction: column;
            width: 100%;
            padding: 0px 10px;
        }
        .btn{
            width: 100%;
            padding: 20px 0px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #0cb459;
            cursor: pointer;
            border-radius: 5px;
            font-weight: 700;
            color: #f4f4f4;
            border: 3px solid #0cb459;
            transition: all .15s ease;
            &:hover{
                background-color: transparent;
                color: #0cb459;
            }
        }
    }
    @media screen and (max-width:450px) {
        .schedule{
            width: 300px;
            padding: 10px 20px;
            gap: 5px;
            height: fit-content;
        }
    }
    .layout{
        display: flex;
        flex-direction: column;
        gap: 10px;
        height: 560px;
        width: 400px;
        .head{
            width: 100%;
            height: 180px;
            padding: 20px;
            background-color: #f4f4f4;
            border-radius: 10px;
        }
        .btm{
            width: 100%;
            height: 100%;
            background-color: #f4f4f4;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            padding: 30px 40px 10px 40px;
            gap: 10px;
            .top{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                width: 100%;
            }
            .mid{
                @include cont(row,3px dotted #a8737b );
                
                
            }
            .mid2{
                @include cont(row-reverse,0px dotted black )
            }
            .paybtn{
                width: 65%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 15px 0px;
                background-color: #0cb459;
                cursor: pointer;
                border-radius: 5px;
                font-weight: 700;
                color: #f4f4f4;
                border: 3px solid #0cb459;
                transition: all .15s ease;
                &:hover{
                    background-color: transparent;
                    color: #0cb459;
                }
            }
        }
    }
    @media screen and (max-width:450px) {
        .layout{
            width: 300px;
            .head{
                padding: 0px;
                height: 130px;
            }
            .btm{
                gap: 0px;
                height: fit-content;
            }
        }
    }
}
.upcm{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
    .run{
        width: 200px;
        height: 150px;
        object-fit: contain;
    }
    .num{
        color: #0cb459;
        font-size: 45px;
    }
    @media screen and (max-width:450px) {
        .run{
            width: 100px;
        }
        .num{
            font-size: 30px;
        }
    }
    
}
.inside{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 30px 20px 0px 0px;
    
}
@media screen and (max-width:956px) {
    .workout{
        justify-content: center;
        .schedule{
            justify-content: center;

        }
    }
}
@media screen and (max-width:450px)  {
    .workout{
        padding: 15px 0px 0px 0px;
    }
}